[submodule "thought-anchors"]
	path = thought-anchors
	url = https://github.com/interp-reasoning/thought-anchors
[submodule "CoT_Faithfulness_demo"]
	path = CoT_Faithfulness_demo
	url = https://github.com/paulcbogdan/CoT_Faithfulness_demo
[submodule "rollouts"]
	path = rollouts
	url = https://github.com/paulcbogdan/rollouts.git
